.sesion {
  width: 100%;
  min-height: 75vh;
  background-image: url('https://pet-ob-api-mysql.herokuapp.com/resources/img/bg/bg.png');
  // background-size: 100%;
  
  .formContainer {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    background-color: white;
  }
}