@import '../../scss/variables';

.btn {
  border: none;
  outline: none;
  display: block;
  transition: all 0.3s ease;
  max-width: 20rem;
  font-size: 1.6rem;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  margin: auto;
  border-radius: 3rem;
  box-shadow: 0 1rem 2.5rem rgba(#000,0.2);
  cursor: pointer;
  z-index: 1;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 1.5rem rgba(#000,0.15);
  }
}

.btnWhite {
  color: $secondary-color-purple;
  background-color: $secondary-grey-light;

}

.btnPurple {
  color: white;
  background-color: $secondary-color-purple;

  &:hover {
    color: $secondary-color-purple;
    background-color: $secondary-grey-light;
  }
}
