@import "../../../../scss/variables";

.categorias {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 4rem 2rem;

  .category {
    transition: all 0.3s ease;
    width: 30%;
    height: 60rem;
    position: relative;
    box-shadow: 0 1rem 2.5rem rgba(#000, 0.2);
    cursor: pointer;

    &:hover {
      transform: translateY(3px) scale(1.01);
      box-shadow: 0 1.5rem 3rem rgba(#000, 0.15);
    }
    img {
      width: 100%;
      height: 100%;
      vertical-align: top;
      object-fit: cover;
      border-radius: 3px;
    }
    p {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      font-size: 2.5rem;
      color: white;
      font-weight: bold;
    }
    .accesorios {
      color: $secondary-color-purple;
    }
  }
}

@media screen and (max-width: 1300px) {
  .categorias {
    .category {
      height: 50rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .categorias {
    justify-content: space-around;
    flex-wrap: wrap;
    .category {
      margin-bottom: 2rem;
      width: 45%;
      height: 40rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .categorias {
    .category {
      width: 100%;
    }
  }
}
