.rightContainer {
  width: 80vw;
  float: right;
  
  .mainContent {
    width: 100%;
  }
}

@media screen and (max-width: 1358px) {
  .rightContainer {
    width: 75vw;
  }
}

@media screen and (max-width: 1000px) {
  .rightContainer {
    width: 100vw;
    float: none;
    margin-top: 12rem;
  }  
}
