@import "../../../scss/variables";
@import "../../../scss/mixins";

.load {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogo {
  width: 100%;
  .positioning {
    margin: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .filtros {
      width: 25%;
      height: 75vh;
      background-color: $secondary-grey-light;
      overflow: hidden;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: 3rem;
      font-weight: 1.6rem;
      transition: all 0.5s ease;
    }
    .productosPosition {
      width: 75%;
    }
    .btnFiltros {
      display: none;
      outline: none;
      border: none;
      background-image: linear-gradient(120deg, $primary-color-dark, $secondary-color-purple);
      border-radius: 50%;
      position: fixed;
      bottom: 3rem;
      right: 3rem;
      width: 4rem;
      height: 4rem;
      z-index: 5;
      .ftAnimated {
        position: relative;
        &,
        &::after,
        &::before {
          transition: all 0.3s ease;
          display: block;
          width: 0.6rem;
          height: 0.6rem;
          background-color: white;
          border-radius: 50%;
          margin: auto;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
        }
        &::after {
          top: 1rem;
        }
        &::before {
          bottom: 1rem;
        }
      }
      .ftCloseAnimated {
        background-color: transparent;
        &::after,&::before {
          width: 2.5rem; 
          height: 3px;
          border-radius: 5px;
        }
        &::after {
          transform: rotateZ(45deg) translateX(-50%);
        }
        &::before {
          transform: rotateZ(-45deg) translateX(-50%);
        }
      }
    }
    .pantalla {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      position: fixed;
      bottom: 3.5rem;
      right: 3.5rem;
      background-color: $secondary-grey-light;
      z-index: 2;
      transition: all 0.6s ease;
      &.grow {
        transform: scale(120);
      }
      visibility: hidden;
    }
  }
  .loadMore {
    display: block;
    margin: 4rem 4rem 4rem auto;
    font-size: 2.3rem;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    @include textGradient;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      text-shadow: 0 1rem 0.5rem rgba($primary-color-dark,0.2);
    }
  }
}

@media screen and (max-width: 1380px) {
  .catalogo {
    .positioning {
      .productosPosition {
        width: 65%;
      }
      .filtros {
        width: 35%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .catalogo {
    .positioning {
      display: block;
      .productosPosition {
        width: 100%;
      }
      .btnFiltros {
        display: block;
      }
      .filtros {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 12rem);
        top: 12rem;
        bottom: 0;
        left: -100vw;
        z-index: 3;
        background-color: transparent;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        &.show {
          visibility: visible;
          left: 0;
          opacity: 1;
        }
      }
      .pantalla {
        visibility: visible;
      }
    }
  }
}
