@import "../../../scss/variables";
@import "../../../scss/mixins";

.searchBar {
  padding: 2rem 3rem;
  background-color: $secondary-grey-light;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  z-index: 9;

  .leftSide {
    display: flex;
    align-items: center;

    .searchIcon {
      font-size: 2.5rem;
      @include textGradient;
      cursor: pointer;
      border: none;
      outline: none;
    }

    .searchInput {
      border: none;
      outline: none;
      margin-left: 2rem;
      padding: 1rem;
      width: 40rem;
      font-family: inherit;
      border-radius: 3px;
    }
  }

  .rightSide {
    display: flex;
    align-items: center;

    .userIcon,
    .shoppingCartIcon {
      font-size: 2.5rem;
      color: $secondary-color-purple;
      cursor: pointer;
      position: relative;
      @include textGradient;
      .count {
        position: absolute;
        top: -1.2rem;
        right: -0.8rem;
        font-size: 1.6rem;
        font-weight: bold;
        @include textGradient;
      }
    }

    .userIcon {
      margin-right: 2rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .searchBar {
    width: 100vw;
    position: fixed;
    top: 6rem;
    right: 0;
    left: 0;
    height: 6rem;
  }
}

@media screen and (max-width:620px) {
  .searchBar {
    padding: 0 1.5rem;
    .leftSide {
      .searchIcon {
        font-size: 2rem;
      }
      .searchInput {
        width: 15rem;
        padding: 0.5rem;
        margin-left: 1rem;
      }
    }
    .rightSide {
      .userIcon, .shoppingCartIcon {
        font-size: 2rem;
      }
    }
  }
}
