.registro {
  width: 100%;
  min-height: 75vh;
  background-image: url('../../../img/bg/bg.png');
  padding-bottom: 4rem;
  
  .formContainer {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    background-color: white;
  }
}