@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.carritoItem {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: $primary-color-light;
  border-radius: 3px;
  color: white;
  font-size: 1.6rem;
  @include standarShadow;
  .controls {
    display: flex;
    .quantity {
      .cantidad {
        margin: 0 1rem;
      }
    }
    .quantity,
    .eliminar {
      margin-right: 3rem;
    }
  }
  button {
    outline: none;
    border: none;
    @include textGradient;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

