@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.carritoItem {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: $primary-color-dark;
  font-size: 1.6rem;
  border: 3px solid;
  border-image-slice: 1;
  border-image-width: 3px;
  border-image-source: linear-gradient(120deg, $primary-color-dark, $secondary-color-purple);

  .nombre {
    text-decoration: none;
  }
  @include standarShadow;
  .controls {
    display: flex;
    .quantity {
      .cantidad {
        margin: 0 1rem;
      }
    }
    .quantity,
    .eliminar {
      margin-right: 3rem;
    }
  }
  button {
    outline: none;
    border: none;
    @include textGradient;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .carritoItem {
    flex-wrap: wrap;
    .nombre{
      width: 100%;
      text-align: center;
    }
    .controls {
      width: 100%;
      margin-top: 2rem;
      justify-content: space-evenly;
    }
  }
}
