@mixin underlineAfter {
  display: block;
  content: '';
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
  margin-top: 3rem;
}
@mixin underlineBefore {
  display: block;
  content: '';
  width: 50%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 3rem;
}