$primary-color-dark: #7868e6;
$primary-color-light: #b8b5ff;
$secondary-color-purple: #93329e;

$secondary-grey-light: #edeef7;
$secondary-blue-light: #e4fbff;

$error-color: #ff0033;
$success-color: #4BCA81;