@import '../../scss/variables';

.message {
  width: 90%;
  max-width: 20rem;
  padding: 1.5rem;
  color: white;
  border-radius: 3px;
  font-size: 1.7rem;
  position: fixed;
  top: 12rem;
  right: 3rem;
  text-align: center;
  z-index: 1;
  &.error {
    background-color: $error-color;
  }
  &.success {
    background-color: $success-color;
  }
}